[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-command-T"]
	path = bundle/vim-command-T
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/vim-scripts/rails.vim.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colour-schemes"]
	path = bundle/vim-colour-schemes
	url = https://github.com/daylerees/colour-schemes.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/colors"]
	path = bundle/colors
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/Colour-Sampler-Pack"]
	path = bundle/Colour-Sampler-Pack
	url = https://github.com/vim-scripts/Colour-Sampler-Pack.git
[submodule "bundle/vim-proton"]
	path = bundle/vim-proton
	url = https://github.com/vim-scripts/proton.git
